<div class="the-container" [ngClass]="{slideRight: opened}">
  <nav class="navbar navbar-static-left nav-starked" id="navbar" role="navigation"
  >
    <ul>
      <li class='li-logo'><img src="../assets/images/logo3.png" href="Adivce"></li>
      <li data-menuanchor="Home"><a href="#Home" align="center">Home</a></li>
      <li data-menuanchor="Science"><a href="#Science" align="center">Science</a></li>
      <li data-menuanchor="Art"><a href="#Art" align="center">Art</a></li>
      <li data-menuanchor="Project"><a href="#Project" align="center">Project</a></li>
      <li data-menuanchor="Team"><a href="#Team" align="center">Team</a></li>
      <li data-menuanchor="Message"><a href="#Message" align="center">Message</a></li>
    </ul>
  </nav>
  <div class="image-wrapper">
    <img class="menu-button" src='../assets/images/menu_button.png' (click)="openMenu()">
  </div>
  <img class="pagination" src='../assets/images/down2.png' (click)="nextPage()">
  <div id="dowebok">
    <div class="section-wrapper">
      <div class="section">
        <ul class="main-menu">
          <li><a href="#">Message</a></li>
          <li><a href="#">Join Me</a></li>
          <li><a href="#">Update Scheduel</a></li>
        </ul>
        <div class="page1-main-im">
          <img style="width: 100%;" src='../assets/images/tittle.png'>
        </div>
        <img class="page1_01" src='../assets/images/page_01.png'>
      </div>
      <div class="section">
        <img class="page1_02" src='../assets/images/page_02.png'>
        <div class="science-wrapper">
          <img style="height: 100%" src="../assets/images/page2tittle.png">
          <img class="arithmetic" src="../assets/images/arithmetic.png">
          <img class="translation" src="../assets/images/translation.png">
        </div>

      </div>
      <div class="section">
        <img class="art" src="../assets/images/page3tittle.png">
        <div class="music-wrapper">
          <img src="../assets/images/music.png" style="bottom: 50%">
          <img src="../assets/images/illustration.png" style="bottom: 70%">
          <img src="../assets/images/article.png" style="bottom: 60%">
        </div>
        <img class="page1_03" src='../assets/images/gaoqing3.png'>
        <div class="bk-bg"></div>
      </div>
      <div class="section">

        <img class="page1_04" src='../assets/images/page4.png'>
        <div class="bk-bg2">
        </div>
      </div>
      <div class="section">
        <div class="member-intro">
          <div class="member-wrapper" *ngFor="let member of team">
            <div class="member-avatar"></div>
            <span class="name">{{member.name}}</span>
            <div class="break-line"></div>
            <div class="tag" >
              <div class="tag-info" *ngFor="let info of member.tag" >
                {{info}}
              </div>
            </div>
            <div class="break-line"></div>
            <div class="abstract">
              {{member.abstract}}
            </div>
          </div>
        </div>
        <img class="page1_05" src='../assets/images/page5.png'>
        <div class="bk-bg3"></div>
      </div>
      <div class="section">
        <div class="bk-bg2">
          <div class="joinForm">
            <form style="position: relative;" #commentForm="ngForm" novalidate>
              <input class="ipt" name="name" placeholder="How would u like to be called" required [(ngModel)]="comment.name">
              <input class="ipt" name="email" placeholder="Ur Email" required [(ngModel)]="comment.email" email="true">
              <div>
                <textarea class="ipt ta" name="mes" placeholder="Comment" required
                          [(ngModel)]="comment.message"></textarea>
              </div>
              <a class="baby" (click)="addComment(commentForm)" [ngClass]="{disabled:!commentForm.valid}">
                <img style="height: 100%" src="../assets/images/xiaoafter.png" >
              </a>
              <p>Submit</p>
            </form>
            <div class="copy_right">
              Copyright©2017-2018 Chronos All Rights Reserved
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
