<div class="the-container" [ngClass]="{slideRight: opened}">
  <nav class="navbar navbar-static-left nav-starked" id="navbar" role="navigation"
  >
    <ul>
      <li class='li-logo'><img src="../assets/images/logo3.png" href="Adivce"></li>
      <li data-menuanchor="Home"><a href="#Home" align="center">Home</a></li>
      <li data-menuanchor="Science"><a href="#Science" align="center">Science</a></li>
      <li data-menuanchor="Art"><a href="#Art" align="center">Art</a></li>
      <li data-menuanchor="Project"><a href="#Project" align="center">Project</a></li>
      <li data-menuanchor="Team"><a href="#Team" align="center">Team</a></li>
      <li data-menuanchor="Message"><a href="#Message" align="center">Message</a></li>
    </ul>
  </nav>
  <div class="image-wrapper col-md-1  col-xs-3">
    <img class="menu-button" src='../assets/images/menu_button.png' (click)="openMenu()">
    <img class="pagination" src='../assets/images/down2.png' (click)="nextPage()">
  </div>

  <div id="dowebok">
    <div class="section-wrapper">
      <div class="section">

        <div class="schedule" [ngClass]="{show: clicked}">
          <div class="triangle_border_up">
            <span></span>
          </div>
          <div class="item">
            <div class="title">Item</div>
          </div>
          <div class="ddl">
            <div class="title">DeadLine</div>
          </div>
          <ul style="margin-top:40px" *ngIf="schedule.length > 0">
            <li *ngFor="let item of schedule">
              <span class="name">{{item.name}}</span>
              <span class="ddl">{{item.deadline}}</span>
            </li>
          </ul>
          <div class="loadEffect" *ngIf="schedule.length === 0">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 col-md-offset-8" style="position: absolute;top: 0">
          <ul class="main-menu clearfix">
            <li><a href="#Message">Message</a></li>
            <li><a href="#">Join Us</a></li>
            <li><a href="#" (click)="show()">Schedule</a></li>
          </ul>
        </div>
        <div class="page1-main-im col-md-11 col-xs-9 col-md-offset-1 col-xs-offset-3" style="position: absolute;top: 10%;">
          <img style="max-width: 100%;max-height: 100%" src='../assets/images/tittle3.png'>
        </div>
        <div class="col-md-12 col-xs-12" style="padding-left: 50%;position: absolute;bottom: 0">
          <img class="" src='../assets/images/page_01.png' style="width: 100%">
        </div>

      </div>
      <div class="section">
        <div class="col-md-4 col-xs-4 col-sm-4" style="position: absolute;right: 0;height: 100%;top:0;bottom: 0">
          <img class="page1_02" src='../assets/images/page_02.png'>
        </div>
        <div class="science-wrapper col-md-5 col-xs-5">
          <img style="height: 100%;width: 100%" src="../assets/images/page2tittle.png">
          <div class=" math-wrapper arithmetic col-md-9 col-xs-9">
            <div class="col-md-6 col-xs-6">
              <a class="myButton">
                <img src="../assets/images/arithmetic.png" style="width: 100%;height: 100%">
              </a>
            </div>
            <div class="col-md-6 col-xs-6">
              <a class="myButton">
                <img src="../assets/images/translation.png" style="width: 100%;height: 100%">
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="section">
        <img class="art" src="../assets/images/page3tittle.png">
        <div class="music-wrapper">
          <a style="bottom: 35%" class="myButton">
            <img src="../assets/images/music.png">
          </a>
          <a style="bottom: 55%" class="myButton">
            <img src="../assets/images/illustration.png">
          </a>
          <a style="bottom: 45%" class="myButton">
            <img src="../assets/images/article.png">
          </a>
        </div>
        <img class="page1_03" src='../assets/images/gaoqing3.png'>
        <div class="bk-bg"></div>
      </div>
      <div class="section">

        <img class="page1_04" src='../assets/images/page4.png'>
        <div class="project-wrapper">
          <img src="../assets/images/project.png" style="width: 100%;height: 100%">
          <div class="btn-wrapper" style="width: 100%;overflow: hidden">
            <a class="myButton">
              <img src="../assets/images/ai.png">
            </a>
            <a class="myButton">
              <img src="../assets/images/spider.png">
            </a>
            <a class="myButton">
              <img src="../assets/images/web.png">
            </a>
          </div>

        </div>
      </div>
      <div class="section">
        <div class="member-intro">
          <div class="member-wrapper" *ngFor="let member of team">
            <div class="member-avatar"></div>
            <span class="name">{{member.name}}</span>
            <div class="break-line"></div>
            <div class="tag">
              <div class="tag-info" *ngFor="let info of member.tag">
                {{info}}
              </div>
            </div>
            <div class="break-line"></div>
            <div class="abstract">
              {{member.abstract}}
            </div>
          </div>
        </div>
        <img class="page1_05" src='../assets/images/page5.png'>
        <div class="bk-bg3"></div>
      </div>
      <div class="section">
        <div class="bk-bg2">
          <div class="joinForm">
            <form style="position: relative;" #commentForm="ngForm" novalidate>
              <input mdTooltip="必填" [mdTooltipPosition]="'before'" class="ipt" name="name"
                     placeholder="How would u like to be called" required
                     [(ngModel)]="comment.name" #name="ngModel" [ngClass]="{invalid: !name.valid && submitted}">
              <input class="ipt" name="email" placeholder="Ur Email(Optional)" [(ngModel)]="comment.email">
              <div>
                <textarea mdTooltip="必填" [mdTooltipPosition]="'before'" class="ipt ta" name="mes" #mes="ngModel"
                          placeholder="Comment" required
                          [(ngModel)]="comment.message" [ngClass]="{invalid: !mes.valid && submitted}"></textarea>
              </div>
              <a class="baby" (click)="addComment(commentForm)" [ngClass]="{disabled:!commentForm.valid}">
                <img style="height: 100%" src="../assets/images/xiaoafter.png">
              </a>
              <p class="submit">Submit</p>
            </form>
            <div class="copy_right">
              Copyright©2017-2018 Chronos All Rights Reserved
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
